.logo {
  font-family: "AbrilFatce", "Chonburi", serif;
}

a {
  font-family: "Poppins", sans-serif;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid yellow;
  backdrop-filter: blur(2px); /* Initial blur effect */
  transition: background-color 0.6s ease, backdrop-filter 0.6s ease;
}

nav div[ng-reflect-ng-if] {
  transition: all 0.3s ease-in-out;
}
