<div #carousel>
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />

  <ul id="carousel">
    <li class="item" *ngFor="let item of certificates.list">
      <img
        class="flex items-center justify-center md:max-w-72 max-w-64 py-4"
        [src]="item.imageUrl"
        [alt]="item.name"
      />
    </li>
  </ul>
</div>
