<div
  class="about-container flex flex-col items-center mt-24 md:mt-1 md:px-24 lg:flex-row w-full md:min-h-lvh bg-black md:bg-gradient-to-tr from-zinc-950 to-black"
>
  <!--  Left Side -->
  <div class="flex flex-col items-end md:w-2/3">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="flex flex-col items-end mr-8 md:mr-16">
      <h2
        class="hello-title text-green-400 line-through text-8xl font-medium md:text-9xl tracking-tight mr-3 hover:no-underline hover:italic hover:text-yellow-300"
      >
        I AM VLAD
      </h2>
      <h4 class="name-title text-stone-400 text-sm -mt-1 md:-mt-2">
        Vlad Beltran Puentes
      </h4>
    </div>

    <p
      class="text-neutral-200 text-lg tracking-tight px-9 leading-6 sm:mr-8 md:text-3xl mt-6 sm:mt-14 hover:bg-white hover:text-white"
    >
      I thrive at the intersection of tech, art, and motion. I create with
      passion, precision, and a love for the details. I have worked with
      studios, companies, startups and individuals to create a blueprint for
      their business.
    </p>
    <div>
      <a href="/about-page">
        <div
          class="overflow-hidden w-80 sm:w-52 border-4 border-yellow-300 hover:bg-sky-400 mt-5 sm:mr-8 hover:border-black"
        >
          <div class="flex gap-2 animate-marquee whitespace-nowrap">
            <div
              class="flex-shrink-0 w-80 sm:w-52 text-3xl py-3 tracking-tight font-bold text-yellow-300 hover:text-white"
            >
              WATCH MORE - VER MÁS - MEER KIJKEN - GUARDA DI PIÙ - ASSISTA MAIS
              - MEHR SEHEN -
            </div>
            <!-- <div
            class="flex-shrink-0 w-96 text-5xl py-4 tracking-tight font-semibold"
          >
            WATCH MORE - VER MÁS - MEER KIJKEN - GUARDA DI PIÙ - ASSISTA MAIS -
            MEHR SEHEN -
          </div> -->
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="flex mt-16 items-center">
    <img
      #aboutImg
      src="assets/img/dev-img02.png"
      (mouseover)="changeImage('assets/img/dev-img01.png')"
      (mouseout)="resetImage()"
      class="about-img border-8 border-lime-300 hover:border-violet-600 hover:border-double cursor-progress max-h-img min-h-60 mb-7 md:ml-8 rounded-full"
      alt="About me Developer, Frontend developer, Designer"
    />
  </div>
</div>
