.hello-title {
  font-family: "Big Shoulders Display", sans-serif;
}

.name-title {
  font-family: "Abril Fatface", serif;
  /* font-family: "Big Shoulders Display", sans-serif; */
}

p {
  font-family: "Poppins", sans-serif;
}

.max-h-img {
  max-height: 400px;
}

.animate-marquee {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .min-h-img {
    height: 320px;
  }
}

@media screen and (max-width: 650px) {
  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}
