<div
  class="flex justify-center items-center w-full h-lvh md:min-h-full bg-purple-950"
>
  <!--  Left Side -->
  <div>
    <div>
      <h2>HELLO, I AM VLAD</h2>
      <h4>Vlad Beltran Puentes</h4>
    </div>

    <p>
      I USE MY PASSION AND SKILLS TO CREATE DIGITAL PRODUCTS AND EXPERIENCES.
      NATIONAL AND INTERNATIONAL CUSTOMERS RELY ON ME FOR DESIGN,
      IMPLEMENTATION, AND MANAGEMENT OF THEIR DIGITAL PRODUCTS. AS AN
      INDEPENDENT, I WORK ALSO WITH WEB AGENCIES, COMPANIES, STARTUPS AND
      INDIVIDUALS TO CREATE A BLUEPRINT FOR THE DIGITAL BUSINESS. ADVISOR AND
      PARTNER OF SOME DIGITAL AND FINTECH STARTUPS. ALSO, JUDGE AT CSSDA AND THE
      WEBBY.
    </p>
  </div>

  <!-- Right side -->
  <div>
    <p>img</p>
  </div>
</div>
