<div
  class="flex flex-col items-center px-9 md:px-24 lg:flex-row w-full h-fit md:min-h-lvh bg-black md:bg-gray-900"
>
  <!--  Left Side -->
  <div class="flex flex-col items-start">
    <div class="flex flex-col items-end">
      <h2
        class="hello-title text-white text-6xl md:text-8xl tracking-tight mr-3"
      >
        HELLO, I AM VLAD
      </h2>
      <h4 class="name-title text-amber-300 text-sm -mt-1 md:-mt-2">
        Vlad Beltran Puentes
      </h4>
    </div>

    <p class="text-white text-xl md:text-3xl md:w-3/4 mt-14">
      I use my passion and skills to build digital products and experiences.
      National and international customers rely on me for design,
      implementation, and management of their products. I have worked also with
      studios, companies, startups and individuals to create a blueprint for
      their business.
    </p>
  </div>

  <!-- Right side -->
  <div class="flex mt-16">
    <img
      src="../../assets/img/ball.jpg"
      class="max-w-none min-h-img"
      alt="About me Developer, Frontend developer, Designer"
    />
  </div>
</div>
