<div
  class="flex items-center lg:items-end w-full h-lvh md:min-h-full box-sizing-inherit relative bg-no-repeat bg-cover"
  id="main"
>
  <div class="flex flex-col items-center lg:flex-row pb-11 pt-24 sm:pt-0">
    <!-- left side -->
    <div class="project-details">
      <h1 class="text-4xl text-yellow-200">{{ project.name }}</h1>
    </div>
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>

  <!-- right side -->
  <div
    class="right-side w-fit min-h-full flex flex-col items-center md:items-start md:pl-2 justify-center"
  >
    <img [src]="project.imageUrl" alt="{{ project.name }}" />
  </div>
</div>

<div>
  <p
    class="text-white text-center font-semibold md:font-bold md:text-left text-lg md:text-2xl md:leading-7 max-w-80 md:max-w-3xl font-p leading-tight md:pr-20 hover-cursor"
  >
    {{ project.projectDescription }}
  </p>
  <a
    class="text-yellow-200"
    *ngIf="project.projectLink"
    [href]="project.projectLink"
    target="_blank"
    >Visit Project</a
  >
  <a
    class="text-yellow-200"
    *ngIf="project.repositoryLink"
    [href]="project.repositoryLink"
    target="_blank"
    >View Repository</a
  >
  <img [src]="project.fullImageUrl" alt="{{ project.name }}" />
</div>
