<div class="flex flex-row pt-16" id="main">
  <!-- left side -->
  <div class="">
    <h1 class="text-4xl text-yellow-200">{{ project.name }}</h1>
  </div>

  <!-- right side -->
  <div class="">
    <img [src]="project.imageUrl" alt="{{ project.name }}" />
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
</div>

<div>
  <p
    class="text-white text-center font-semibold md:font-bold md:text-left text-lg md:text-2xl md:leading-7 max-w-80 md:max-w-3xl font-p leading-tight md:pr-20 hover-cursor"
  >
    {{ project.projectDescription }}
  </p>
  <a
    class="text-yellow-200"
    *ngIf="project.projectLink"
    [href]="project.projectLink"
    target="_blank"
    >Visit Project</a
  >
  <a
    class="text-yellow-200"
    *ngIf="project.repositoryLink"
    [href]="project.repositoryLink"
    target="_blank"
    >View Repository</a
  >
  <img [src]="project.fullImageUrl" alt="{{ project.name }}" />
</div>
