.hello-title {
  font-family: "Big Shoulders Display", sans-serif;
}

.abril-font {
  font-family: "Abril Fatface", serif;
}
.name-title {
  font-family: "Abril Fatface", serif;
  /* font-family: "Big Shoulders Display", sans-serif; */
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}

.text-xxs {
  font-size: 10px;
}

p {
  font-family: "Poppins", sans-serif;
}

.max-h-img {
  max-height: 400px;
}

.divider {
  height: 1px;
}

@media (min-width: 768px) {
  .min-h-img {
    height: 320px;
  }
}
