<main
  class="main flex justify-center items-center lg:items-end w-full h-lvh md:min-h-full box-sizing-inherit relative bg-no-repeat bg-cover"
  id="main"
>
  <div class="flex flex-col items-center lg:flex-row pb-11 pt-24 sm:pt-0">
    <!-- left side -->
    <div class="left-side w-fit min-h-full justify-center">
      <div class="flex flex-col items-end p-0 md:pl-12 md:pr-3">
        <h1
          class="frontEnd-title mr-6 text-white text-3xl text-right tracking-normal"
        >
          front end
        </h1>
        <h1
          class="home-title mt-0.2 md:-mt-2 font-medium mr-6 text-9xl text-10xl text-right tracking-tighter text-white"
        >
          DEVELOPER
        </h1>
        <div class="flex -mt-3">
          <p class="text-white ml-12 mt-2 text-3xl">&</p>
          <h1
            class="home-title text-9xl font-medium mr-6 text-10xl text-right tracking-tighter text-white"
          >
            DESIGNER
          </h1>
        </div>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

    <!-- right side -->
    <div
      class="right-side w-fit min-h-full flex flex-col items-center md:items-start md:pl-2 justify-center"
    >
      <p
        class="text-white text-center font-semibold md:font-bold md:text-left text-lg md:text-2xl md:leading-7 max-w-80 md:max-w-3xl font-p leading-tight md:pr-20 hover-cursor"
      >
        I AM A WEB DEVELOPER AND CREATIVE DESIGNER IN EUROPE. I HAVE MANY YEARS
        OF EXPERIENCE IN CONSULTING IN ALL AREAS OF DESIGN AND DIGITAL. I LIKE
        ART, MUSIC, DYNAMISM, MINIMALISM, THE SEA, SURFBOARDS, PIZZA AND TECH.
      </p>

      <a
        href="#"
        class="mt-8 sm:mt-4 md:mt-3"
        id="style-2"
        data-replace="hello!!"
        ><span class="text-white text-lg">contact me</span></a
      >
    </div>
  </div>
</main>
