<main
  class="main flex justify-center items-center lg:items-end w-full h-lvh md:min-h-full box-sizing-inherit relative bg-no-repeat bg-cover"
  id="main"
>
  <div class="flex flex-col items-center lg:flex-row pb-11">
    <!-- left side -->
    <div class="left-side w-fit min-h-full pr-6 justify-center">
      <div class="flex flex-col items-end p-0 md:pl-12 md:pr-3">
        <h1 class="frontEnd-title text-white text-right tracking-normal">
          front end
        </h1>
        <h1
          class="home-title mt-0.2 md:-mt-2 text-9xl text-10xl text-right tracking-tighter text-white"
        >
          DEVELOPER
        </h1>
        <div class="flex -mt-3">
          <p class="text-white ml-12 mt-2 text-lg">&</p>
          <h1
            class="home-title text-9xl text-10xl text-right tracking-tighter text-white"
          >
            DESIGNER
          </h1>
        </div>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

    <!-- right side -->
    <div
      class="right-side w-fit min-h-full flex flex-col items-center md:items-start md:pl-2 justify-center"
    >
      <p
        class="text-white text-center md:text-left text-lg md:text-2xl md:leading-7 max-w-80 md:max-w-3xl font-p leading-tight md:pr-20 hover-cursor"
      >
        I AM A WEB DEVELOPER AND CREATIVE DESIGNER IN EUROPE. I HAVE MANY YEARS
        OF EXPERIENCE IN CONSULTING IN ALL AREAS OF DESIGN AND DIGITAL. I LIKE
        ART, MUSIC, DYNAMISM, MINIMALISM, THE SEA, SURFBOARDS, PIZZA AND TECH.
      </p>

      <a href="#" class="mt-3" id="style-2" data-replace="hello!!"
        ><span class="text-white">contact me</span></a
      >

      <!-- <div class="pill-group">
        @for (item of [ { title: 'Explore the Docs', link: 'https://angular.dev'
        }, { title: 'Learn with Tutorials', link:
        'https://angular.dev/tutorials' }, { title: 'CLI Docs', link:
        'https://angular.dev/tools/cli' }, { title: 'Angular Language Service',
        link: 'https://angular.dev/tools/language-service' }, { title: 'Angular
        DevTools', link: 'https://angular.dev/tools/devtools' }, ]; track
        item.title) {
        <a class="pill" [href]="item.link" target="_blank" rel="noopener">
          <span>{{ item.title }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="14"
            viewBox="0 -960 960 960"
            width="14"
            fill="currentColor"
          >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
            />
          </svg>
        </a>
        }
      </div> -->
    </div>
  </div>
</main>
