<main
  class="main flex flex-col justify-between lg:items-end w-full box-sizing-inherit relative bg-no-repeat bg-cover mt-20"
  id="main"
>
  <div>
    <div class="overflow-hidden w-screen bg-lime-400">
      <div class="flex gap-2 animate-marquee whitespace-nowrap">
        <div
          class="flex-shrink-0 w-auto text-5xl py-4 tracking-tight font-semibold"
        >
          CREATIVITY - TECH - WORK - INNOVATION - DEVELOPEMENT - FUN - DIGITAL -
          DESIGN - ART - VISUAL - COMMITMENT - SEA - FUTURE - CREATIVITY - TECH
          - WORK - MUSIC - DEVELOPEMENT - FUN -
        </div>
        <div
          class="flex-shrink-0 w-auto text-5xl py-4 tracking-tight font-semibold"
        >
          CREATIVITY - TECH - WORK - INNOVATION - DEVELOPEMENT - FUN - DIGITAL -
          DESIGN - ART - VISUAL - COMMITMENT - SEA - FUTURE - CREATIVITY - TECH
          - WORK - MUSIC - ART - VISUAL - COMMITMENT - WAVES - PAPER - FUTURE
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex flex-col items-center lg:flex-row pb-11 pt-16 sm:pt-0">
      <!-- left side -->

      <div class="left-side w-fit min-h-full justify-center">
        <div class="flex flex-col items-end p-0 md:pl-12 md:pr-3">
          <h1
            class="abril-font mr-6 text-white text-4xl md:text-6xl text-right tracking-normal"
          >
            front end
          </h1>
          <h1
            class="big-shoulders-font mt-0.2 md:-mt-2 font-semibold mr-6 text-8xl md:text-9xl text-right tracking-tighter text-white"
          >
            DEVELOPER
          </h1>
          <div class="flex -mt-3">
            <p class="text-white ml-12 mt-2 font-bold text-3xl">&</p>
            <h1
              class="big-shoulders-font text-8xl md:text-9xl font-semibold mr-6 text-right tracking-tighter text-white"
            >
              DESIGNER
            </h1>
          </div>
        </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>

      <!-- right side -->
      <div
        class="right-side w-fit min-h-full flex flex-col items-center md:items-start md:pl-2 justify-center"
      >
        <p
          class="text-white text-center font-semibold md:font-bold md:text-left text-lg md:text-2xl md:leading-7 max-w-80 md:max-w-3xl font-p leading-tight md:pr-20 hover-cursor"
        >
          WEB DEVELOPER AND CREATIVE DESIGNER WITH YEARS OF EXPERIENCE IN
          CONSULTING IN ALL AREAS OF DESIGN AND DIGITAL. I CRAFT SEAMLESS,
          HIGH-PERFORMACE EXPERIENCES THAT MERGE FUNCTION WITH ARTISTRY.
        </p>

        <a
          href="contact"
          class="mt-8 sm:mt-4 md:mt-3"
          id="style-2"
          data-replace="hello!!"
          ><span class="text-white text-lg">contact me</span></a
        >
      </div>
    </div>
  </div>
</main>
