:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  --linear-rainbow: linear-gradient(
    to right,
    #ede6bf,
    #ecc947,
    #cb5a31,
    #6f5d79,
    #4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,
    #ede6bf,
    #ecc947,
    #cb5a31,
    #6f5d79,
    #4e779a
  );
  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
  --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gif);

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main {
  animation: spawn 2s ease-in-out forwards;
}

.main:before {
  content: "";
  position: absolute;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 3;
}

.main:hover:after {
  content: "";
  position: absolute;
  background-image: var(--gif-texture);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 3;
}

.frontEnd-title {
  font-family: "Abril Fatface", serif;
}

.home-title {
  font-family: "Big Shoulders Display", sans-serif;
}

.text-10xl {
  font-size: 10rem;
}

.font-p {
  font-family: "Poppins", sans-serif;
}

main {
  background-image: url("../../assets/img/bg-developer-01.png");
}

.black-bg {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15%);
  transition: background-color 0.7s ease, backdrop-filter 0.7s ease;
}

.divider {
  width: 2px;
  background: white;
  margin-inline: 0.5rem;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  display: block;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* line-height: 40px; */
  text-decoration: none;
  background-color: black;
  border: 3px solid #ffffff;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  position: relative;
  transition: all 0.35s;
  overflow: hidden;
}

a span {
  /* position: relative; */
  z-index: 2;
  /* display: inline-block; */
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:after {
  /* position: absolute; */
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

a:hover {
  color: #d6f879;
  margin-top: 20px;
  margin-bottom: 20px;
}

a:hover:after {
  width: 100%;
}

a::before,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #fbff00;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;

  padding-top: 20px;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #fbff00;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* Presentational Styles */
body {
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  line-height: 1.5;
  height: 100vh;
  place-items: center;
}

a {
  text-decoration: none;
  color: #bfff00;
  font-weight: 700;
  vertical-align: top;
}

.hover-cursor::before,
.hover-cursor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s ease;
}

/* Define hover effect */
/* .hover-cursor:hover::before,
.hover-cursor:hover::after {
  clip-path: circle(50% at 50% 50%);
} */
.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--hot-red);
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}

@media (min-width: 768px) {
  .text-10xl {
    font-size: 10rem;
  }
  .divider {
    width: 2px;
    background: white;
    margin-inline: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }

  main {
    background-image: hidden;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 12%,
      rgba(11, 1, 18, 1) 44%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
