.works-title {
  font-family: "Big Shoulders Display", sans-serif;
}

.project-title {
  font-family: "Abril Fatface", serif;
  /* font-family: "Big Shoulders Display", sans-serif; */
}

.project-website {
  font-family: "Poppins", sans-serif;
}
