:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

.abril-font {
  font-family: "Abril Fatface", serif;
}

.works-title {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 8em;
  margin-right: 4rem;
}

.project-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.project-website {
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  margin-block: 1.5rem;
}

.project-container {
  max-width: 100vw !important;
  overflow: hidden; /* Hide text that exceeds the container */
}

/* Project info container should allow horizontal scrolling */
.project-info {
  position: relative;
  overflow: hidden; /* Prevent text from overflowing initially */
  white-space: nowrap; /* Prevent wrapping of text */

  font-family: "Poppins", sans-serif;
}

.project-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
  max-width: 100%;
  transition: max-width 0.3s ease-in-out; /* Smooth transition for hover effect */
  display: block;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0); /* Start at the left edge */
  }
  100% {
    transform: translateX(-100%); /* Scroll to the left */
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
}

.marquee-active {
  animation: marquee-scroll 15s linear infinite;
}

.project-title,
.project-description {
  overflow: hidden;
}

.project-title .marquee,
.project-description .marquee {
  display: inline-block;
  white-space: nowrap;
}

.project-title .marquee-active,
.project-description .marquee-active {
  animation: marquee-scroll 15s linear infinite;
}

@media (min-width: 768px) {
  .text-10xl {
    font-size: 10rem;
  }
}

@media screen and (max-width: 650px) {
  .project-description {
    overflow-x: hidden;
    white-space: nowrap;
  }

  .project-info:active .project-description,
  .project-info:hover .project-description {
    overflow-x: scroll;
    /* max-width: 300px; */
  }
}
