<div class="divider" role="separator" aria-label="Divider"></div>
<div class="h-fit md:min-h-lvh bg-black">
  <div class="flex flex-col md:items-end items-center md:mr-14 mb-20">
    <h1
      class="abril-font cursor-none text-white font-medium text-7xl md:text-9xl tracking-tight mt-8 mb-8"
    >
      Projects
    </h1>
    <p class="text-white font-extralight text-xs mx-12 md:mx-0 text-center">
      Every pixel has a purpose, "just like a perfectly shaped surfboard or a
      Swiss-engineered timepiece."
    </p>
  </div>

  <!-- Projects list -->

  <ul class="projects">
    <li *ngFor="let project of projects.data">
      <ul class="flex flex-col">
        <li
          *ngFor="let item of displayedProjects; let i = index"
          [attr.data-index]="i"
          class="project-container flex flex-row h-16 justify-between items-center"
          [ngClass]="[item.backgroundColor, item.fontColor]"
        >
          <!-- <div class="relative flex flex-col">
            <div class="project-info flex flex-row">
              <div>
                <h4 class="w-24 md:w-40 hidden basis-1/5">{{ item.type }}</h4>
              </div>
              <div class="basis-1/5 md:basis-2/3">
                <a
                  (mouseover)="toggleDescription(i, true)"
                  (mouseout)="toggleDescription(i, false)"
                  class="project-title text-7xl"
                  [routerLink]="['/work-view', i]"
                  rel="noopener noreferrer"
                >
                  <span *ngIf="!hoveredIndex[i]">{{ item.name }}</span>
                  <span
                    class="project-description md:max-w-xl overflow-hidden max-w-80"
                    *ngIf="hoveredIndex[i]"
                    >{{ item.projectDescription // }}</span
                  >
                </a>
              </div>
            </div>
          </div> -->

          <div class="relative flex flex-col">
            <div class="project-info flex flex-row">
              <div>
                <h4 class="w-24 md:w-40 hidden basis-1/5">{{ item.type }}</h4>
              </div>
              <div class="basis-1/5 md:basis-2/3">
                <a
                  (mouseover)="toggleDescription(i, true)"
                  (mouseout)="toggleDescription(i, false)"
                  (touchstart)="toggleDescription(i, true)"
                  (touchend)="toggleDescription(i, false)"
                  class="project-title text-7xl overflow-hidden whitespace-nowrap block relative"
                  [routerLink]="['/work-view', i]"
                  rel="noopener noreferrer"
                >
                  <!-- Marquee effect for the title initially -->
                  <span
                    *ngIf="!hoveredIndex[i]"
                    class="marquee marquee-active"
                    >{{ item.name }}</span
                  >

                  <!-- Marquee effect for the description on hover or touch -->
                  <span
                    *ngIf="hoveredIndex[i]"
                    class="project-description marquee marquee-active"
                    >{{ item.projectDescription }}</span
                  >
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
